

body {
  height: 100%;
  background-color: #36454F;
  cursor: default;
}

.nav-bar{
  background-color: #36454F;
  /* background-color: rgba(255,255,255,0.72); */
  backdrop-filter: saturate(180%) blur(5px);
}
.nav-bar #menu-text, .nav-bar .user-view{
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.state-edge {
  fill: none;
  stroke-width: 2px;
  /*stroke: red;*/
}

.line-b {
  fill: none;
  stroke-width: 2px;
  stroke: blue;
}

.state-node {
  fill: hsl(0, 0%, 13%);
  opacity: 0.3;
  /*stroke-width: 2px;
  stroke: black;*/
}

.card {
  /*background-color: #222222;*/
  background-color:#f5f5f7
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}